# Created by antoniomeh
node_modules
doc
.idea/
npm-debug.log

# Do not commit the coverage reports

# Do not checkin complexity reports

# Do not add output from mock logs

# Do not add style guide reports to version control
jscs

# Do not save the configuration service as it is dynamcially built at runtime